[Unit]
Description=USB Watchdog

[Service]
Type=exec
User=root
Group=root
ExecStart=/usr/local/sbin/usb_watchdog.py --systemd

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
